* {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
}

ul {
  list-style: none;
}

.flex-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.flex-grow {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.mb20 {
  margin-bottom: 20px;
}

.button {
  border: 0;
  background: transparent;
  cursor: pointer;
  font-size: 18px;
  padding: 6px 16px;
  line-height: 1.42857143;
  text-align: center;
  outline: 0;
  text-transform: uppercase;
}
